body{
  background-color: #f5ee23;
}

.title{
  text-align: center;
}
.container{
  position: relative;
  left:44%;

}
button{
  background-color: #3b4cca;
  color: black;
  border-radius: 25%;
  font-size: 5rem;
}

.entry-box{
  background-color: #ed2342;
  width: 200px;
  height: auto;
  margin-left: 35px;
}
.toggle-div{
  position: absolute;
}
.info{
  display: flex;
  justify-content: center;
  align-content: flex-start;
  text-align: center;
  flex-direction: column;
  align-items: center;
    
}
.info .pkmnNum {
  margin-top: 0;
}
.sprits{
  background-color: white;
  width: 150px;
  height: 150px;
}


.Pdexs{
  flex-wrap: wrap;
  justify-content: space-evenly;
  display: flex;
}

.entry-box{
  margin-bottom: 2rem;
}

 
  

  